<!DOCTYPE html>
<html>
<head>
<title>kick!!</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-sound/3.0.7/js/ion.sound.min.js"></script>
<style type="text/css">
body {
    margin-top: 10px;
    margin-left: 20px;
}
div {
    margin-bottom: 10px;
}
div.count {
    font-size: xx-large;
}
div.group {
    margin-top: 25px;
}
div.notice {
    font-size: small;
}
img.img {
    display: inline-block;
    position: relative;
}
</style>
</head>
<body>
<div class="count">
    <span id="count">{{! digits }}</span> kicks!!
</div>
<div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="amane_katagiri" data-text="pykick を使っています！">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div>
    &quot;黙ってろデブ <a href="javascript:void(0);" id="soundMode" v-on:click="toggleMode">--<template v-if="verbose === true">verbose</template><template v-else>quiet</template></a> -n <span id="clients">{{! digits }}</span>&quot;
</div>
<div class="group">
    <img id="button" class="img" alt="sacrifice_button" src="/img/chair.jpg" style="max-width: 100%;">
</div>
<div class="group notice">
<div>You can kick someone on your machine.</div>
<ul>
    <li><a href="https://hub.docker.com/r/amane/pykick/">hub.docker.com:amane/pykick</a></li>
    <li><a href="https://github.com/amane-katagiri/pykick">github.com:amane-katagiri/pykick</a></li>
</ul>
</div>

<script>
    var count = new Vue({el: "#count", data: {digits: "******"}});
    var clients = new Vue({el: "#clients", data: {digits: "*"}});
    var soundMode = new Vue({el: "#soundMode", data: {verbose: true},
                                               methods: {toggleMode: function () {this.verbose = !this.verbose;}}});

    ion.sound({sounds: [{name: "kick"}], path: "./sound/", preload: true, multiplay: true});

    function Ws() {
        var instance = this;
        var obj = this;
        Ws = function Ws() {
            return instance;
        }
        Ws.prototype = this;
        instance = new Ws();
        instance.constructor = Ws;

        instance.socket = null;

        instance.getSocketState = function () {
            if (obj.socket !== null) {
                return obj.socket.readyState;
            } else {
                return null;
            }
        };

        instance.ping = function () {
            if (obj.getSocketState() === 1) {
                obj.socket.send("ping");
                obj.fire();
                return;
            } else if (obj.getSocketState() !== 0) {
                obj.connect();
            }
        };

        instance.wsurl = "{{ wsurl }}";
        instance.reconnectTimeout = undefined;
        instance.reconnectInterval = 250;
        instance.connect = function () {
            var socket_state = obj.getSocketState();
            if (obj.getSocketState() === 0 || obj.getSocketState() === 1) {
                return;
            }
            clearTimeout(obj.reconnectTimeout);
            obj.socket = new WebSocket(obj.wsurl);
            obj.socket.onmessage = function (e) {
                var j = JSON.parse(e.data);
                count.digits = j.count;
                clients.digits = j.clients;
                if (j.message === "ping") {
                    obj.fire();
                }
            };
            obj.socket.onclose = function () {
                clients.digits = "*";
                obj.reconnectInterval *= 2;
                obj.reconnectTimeout = setTimeout(obj.connect, obj.reconnectInterval * (Math.random() + 0.5));
            };
            obj.socket.onopen = function () {
                obj.reconnectInterval = 250;
            };
        };

        instance.rumbleOption = {x: 16, y: 16, tick: 15, maxCount: 20};
        instance.rumbleCount = 0;
        instance.rumbleTimeout = undefined;

        instance.fire = function () {
            if (soundMode.verbose === true) {
                ion.sound.play("kick");
            }
            if (soundMode.verbose === true && ("vibrate" in window.navigator) === true) {
                window.navigator.vibrate(100);
            }
            clearTimeout(obj.rumbleTimeout);
            obj.rumbleCount = 0;
            var rumble = function () {
                var chair = document.getElementById("button");
                var x = obj.rumbleOption.x,
                    y = obj.rumbleOption.y,
                    tick = obj.rumbleOption.tick;
                var rx = Math.floor(Math.random() * (x + 1)) - x / 2;
                var ry = Math.floor(Math.random() * (y + 1)) - y / 2;
                rx = (rx === 0 && x !== 0) ? ((Math.random() < 0.5) ? 1 : -1) : rx;
                ry = (ry === 0 && y !== 0) ? ((Math.random() < 0.5) ? 1 : -1) : ry;
                if (obj.rumbleCount != obj.rumbleOption.maxCount) {
                    ++obj.rumbleCount;
                    chair.style.left = rx + "px";
                    chair.style.top = ry + "px";
                    obj.rumbleTimeout = setTimeout(rumble, tick);
                } else {
                    chair.style.left = 0;
                    chair.style.top = 0;
                }
            };
            if (!("hasFocus" in document) || document.hasFocus()) {
                rumble();
            }
        };

        instance.connect();
        return instance;
    }

    // add click events
    var ws = new Ws();
    if (window.ontouchstart === null) {
        document.getElementById("button").addEventListener("touchstart", ws.ping, false);
        document.getElementById("button").addEventListener("contextmenu", function (e) {
            e.preventDefault();
        }, {passive: false, capture: true});
        document.addEventListener("touchstart", function (e) {
            if (e.touches.length > 1) {
                e.preventDefault();
            }
        }, {passive: false, capture: true});
        document.addEventListener("touchend", function (e) {
            if (e.target.nodeName !== "A") {
                e.preventDefault();
            }
        }, {passive: false, capture: true});
    } else {
        document.getElementById("button").addEventListener("mousedown", ws.ping, false);
    }
</script>
</body>
</html>
